.mars-himti__video {
  max-width: 457px;
}

.profile__title {
  font-size: 20px;
}

.profile__text {
  font-size: 16px;
}

@media screen and (min-width: 992px) {
  .profile__title {
    font-size: 32px;
  }

  .profile__text {
    font-size: 20px;
  }
}
