/*==================== GOOGLE FONTS ====================*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,700&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    --color-background: #000000;
    --color-primary: #99CF9A;
    --color-text: #FFFFFF;
    /*========== Font and typography ==========*/
    --body-font: 'Raleway', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: 813rem;
    }
}

/*==================== BASE ====================*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: #000000;
    color: #FFFFFF;
}

h1, h2, h3, h4 {
    color: #FFFFFF;
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header */

header {
    margin: 2rem 1rem;
}

.top-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-1);
    margin-top: var(--mb-1);
}

.header-icon {
    display: flex;
    align-items: center;
}

.logo {
    height: 2rem;
    margin-right: var(--mb-1);
}

.menu {
    align-items: center;
}

.header-departemen {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-text);
    margin: var(--mb-1) 0 var(--mb-1);
}

.header-departemen a {
    color: #FFFFFF;
    font-size: 10px;
}

.thick-hr {
    border-top: 3px solid;
    margin: 1rem 0 1rem 0;
}

.thin-hr {
    border-bottom: 2px solid #1D1D1D;
}

main {
    margin: 0 1rem 0 1rem;
}

.navigation {
    display: flex;

    display: none;
    flex-direction: column;
}

.navigation a{
    color: #FFFFFF;
}

.tagline h1 {
    font-size: 46pt;
    font-weight: bold;
}

.landing-component .himti-description {
    font-size: 12pt;
    font-weight: var(--font-semi-bold);
    margin: 3rem;
}

.section-title {
    margin: 1rem 0 1rem 0;
}

.ijo {
    color: #99CF9A;
}

.card {
    position: relative;
    width: auto;
    height: 160px;
    margin-bottom: 1rem;
}

.card-background {
    position: relative;
    width: auto;
    height: 160px;
}

.card-layer {
    z-index: 999;
    top: 0;
    position: absolute;
    min-width: 100%;
    height: 160px;
    background-color: #FFFFFF;
    opacity: 0.7;
}

.card-background-picture {
    object-fit: cover;
    width: 100%;
    height: 160px;
    position: absolute;
    top: 0;
}


.card-body {
    padding: 1rem;
    color: #000000;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-header {
    display: flex;
    align-items: flex-start;
}

.card-header h2 {
    color: #000000;
    font-weight: bold;
}

.gallery-container {
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
}

.background-photo {
    background-color: #FFFFFF;
    width: 13.5rem;
    height: 13.5rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
}

.himti-profil{
    text-align: center;
}
